@media (max-width: 1024px){
    .inner_menu{
        background: none;
        padding: 0;
        min-height: auto;
    }

    .inner_menu::after{
        display: none;
    }

    .mean-container .mean-nav{
        margin-top: 0;
    }

    .main-header-area{
        padding-bottom: 20px;
    }

    #hero_area h1{
        font-size: 62px;
        padding-top: 38px;
    }

    #hero_area img{
        margin-right: 28px;
        width: 350px;
    }

    #hero_area a{
        margin-top: 19px;
    }

    .child_testimonial a{
        margin-top: 20px;
    }

    .span_1_of_4{
        float: left;
        width: 23.875%;
        margin: 0 .75%;
        overflow: hidden;
        padding: 1%;
    }

    .child_service .service_text {
        width: 73%;
    }
}

@media (max-width: 768px){

    #hero_area img{
        margin-right: 7px;
        width: 220px;
    }

    #hero_area h1{
        font-size: 33px;
        padding-top: 28px;
    }

    #hero_area a{
        margin-top: 5px;
    }

    #work_area h2{
        font-size: 23px;
    }

    .span_1_of_3 {
        width: 100%;
        margin: 0 1%;
        float: none;
        text-align: center;
    }

    .span_1_of_3 a{
        float: none !important;
        text-align: center;
    }

    .span_1_of_3 h2{
        padding-bottom: 20px !important;
    }

    .about_area img {
        display: block;
        margin: auto;
        margin-bottom: 20px;
    }

    .about_area{
        margin-bottom: 50px;
    }

    .child_service .service_text {
        text-align: left;
    }

    .service_area{
        margin-bottom: 50px;
    }

    .span_1_of_4 {
        margin: 0;
        width: 50%;
        padding: 1%;
    }

    .contact_us h3{
        text-align: center;
    }

    .contact_us form{
        width: 80%;
        margin: auto;
    }
}

@media (max-width: 566px){
    .mini-menu{
        padding-top: 0;
        padding-bottom: 10px;
        text-align: center;
        float: none;
    }

    .mini-menu li:last-child{
        margin-right: 0;
    }

    .search-area{
        float: none;
        overflow: hidden;
        width: 310px;
        margin: auto;
    }

    .search-area form input[type="text"]{
        width: 90%;
    }

    .search-area form input[type="submit"]{
        width: 20px;
        height: 20px;
    }

    .logo{
        float: none !important;
        margin: auto;
    }

    .social-links{
        float: none;
        text-align: center;
        margin: auto;
        padding-top: 0;
    }

    .main-header-area{
        padding-bottom: 0;
        padding-top: 20px;
    }

    .slider-caption h1{
        font-size: 30px;
    }

    #hero_area img{
        float: none;
        display: block;
        width: 70%;
        margin: auto;
    }

    #hero_area{
        text-align: center;
        padding-bottom: 50px;
    }

    #hero_area a{
        float: none;
        text-align: center;
    }
    
    .span_1_of_4 {
        margin: 0;
        width: 100%;
        padding: 1%;
    }

    .contact_us form{
        width: 95%;
    }

    .contact_us input[type="submit"] {
        margin: auto;
        display: block;
    }

    .copyright_area .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: auto;
        padding: 10px 0;
    }

}

@media (max-width: 325px){
    .mini-menu li a {
        font-size: 13px;
    }

    .search-area{
        min-width: initial;
        width: 100%;
    }
}