*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif ;
}

body{
    font-size: 16px;
    line-height: 1.5;
    color: black;
}

.container{
    margin: 0 auto;
    width: 96%; /* @learnings */
    max-width: 1000px;
}

img{
    width: 100%;
    /* height: auto; */
}

header{
    width: 100%;
    /* clear: both; */
}

.top-header-area{
    background-color: #BA2E1F;
    padding: 15px 0;
    width: 100%;
}

.inner-top-header{
    overflow: hidden;
}

.mini-menu{
    float: left;
    width: 70%;
}

.mini-menu ul{
    list-style: none;
    text-align: left;
}

.mini-menu li{
    display: inline-block;
    margin-right: 20px;
    position: relative;
}

.mini-menu li::after{
    content: "";
    position: absolute;
    top: 4px;
    right: -10px;
    width: 1px;
    height: 14px;
    background-color: white;
}

.mini-menu li:last-child::after{
    display: none;
}

.mini-menu a{
    color: white;
    display: block;
    font-size: 14px;
    text-decoration: none;
}

.mini-menu a:hover{
    color: lightblue;
}

.search-area{
    float: right; 
}