body{
    max-width: 1600px;
    margin: auto;
}

@media (max-width: 990px){

    

    .child-feature{
        width: 48%;
        float: left;
        margin: 0 0 20px;
        overflow: hidden;
    }

    #top-header .col-md-6 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: initial;
    }

    #top-header .col-md-6{
        display: flex;
        justify-content: center;    }

}

@media (max-width: 768px){

    .slicknav_menu{
        display: block;
    }

    #top-header{
        display: none;
    }

    #nav{
        display: none;
    }
    .navigation > .container > .row > .col-md-3{
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .navigation > .container > .row > .col-md-3 img{
        width: 175px;
        display: block;
        margin: auto;
    }

    .child-feature{
        width: 48%;
    }
    
    .right-child-feature{
        width: 100%;
        padding-left: 0;
        float: none;
        text-align: center;
    }

    .right-child-feature h3::after{
        margin: auto;
        text-align: center;
        left: 50%;
        margin-left: -25px;
    }

    .left-child-feature{
        width: 100%;
        float: none;
        margin-bottom: 10px;
        text-align: center;
    }

    .owl-nav{
        position: sticky;
    }

    .all-clients{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left-copyright{
        line-height: 1.5;
        text-align: center;
    }

    .slider-text p{
        display: none;
    }

    .slider-text .button-1{
        margin-top: 0;
    }

    .left-child-feature i {
        padding: 20px;
    }
}

@media (max-width: 575px){

    .navigation > .container > .row > .col-md-3{
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .child-feature{
        width: 100%;
        float: none;
    }

    .left-child-feature{
        width: 25%;
        float: left;
    }

    .right-child-feature{
        width:65%;
        float: right;
        text-align: left;
        margin-right: 2%;
    }

    .right-child-feature h3::after{
        left: 0;
        margin-left: 0;
    }

    .left-child-feature{
        margin-bottom: 0;
        text-align: center;
    }

    .slider-text {
        bottom: 27%;
    }

    .button-1, button.button-1 {
        width: 105px;
        margin-top: 15px;
        font-size: 13px;
    }

    .slider-text h3{
        font-size: 17px;
    }
}