body{line-height: 1;}
p{margin-bottom: 0;}
.form-check-input {margin-top: .1rem;}

h1,h2,h3,h4,h5,h6{margin:0;}

.bg-none{background: none;}
.text-black{color: black;}
.lh-base{line-height: 1.5;}
.lh-2{line-height: 2;}




/* id06 - Text */

.fw-200{font-weight: 200;}
.fw-300{font-weight: 300;}
.fw-400{font-weight: 400;}
.fw-500{font-weight: 500;}
.fw-600{font-weight: 600;}
.fw-700{font-weight: 700;}
.fw-900{font-weight: 900;}

.td-underline{text-decoration: underline;}/*np4*/
.td-line-through{text-decoration: line-through;}/*lnd*/
.td-none{text-decoration: none;}

.d-flex-center-center{display: flex;justify-content: center;align-items: center;}




@media (min-width: 992px){/* From LG */
	.navbar{padding: 0;}
}
html {scroll-behavior: smooth;font-size: 62.5%;}
body {
	font-size:1.6rem;
	margin: 0;
	padding: 0;
	letter-spacing:-.01em;
	text-rendering: optimizeLegibility;
}
a {text-decoration: none;}
ul{ margin: 0; }
/*img{ max-width: 100%; }*/





/* id_01 Component */

.form-control {
	display:block;
	width:100%;
	height:3.8rem;
	padding:.4rem 1.2rem;
	font-size:1.6rem;
	/* line-height:1.5; */
	color:#495057;
	background-color:#fff;
	background-clip:padding-box;
	border:1px solid #ced4da;
	border-radius:4px;
}
.img-fluid {
	max-width: 100%;
	height: auto;
}

.btn {
	color: inherit;
	font-size: 1.6rem;
	line-height: 1.6;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	display: inline-block;
	width: auto;
	padding: .4rem 1.2rem;
	margin-bottom: .4rem;
	border-radius:4px;
	background: lightgray;
	border: 1px solid black;
	cursor: pointer;
}

.btn-block {
	display: block;
	width: 100%;
}

a:hover, a:focus, a:active, a:link:hover, a:link:focus, a:link:active {outline: none;transform: scale(1.05);filter: drop-shadow(2px 4px 6px black)}
a.not-animate:hover, a.not-animate:focus, a.not-animate:active, a.not-animate:link:hover, a.not-animate:link:focus, a.not-animate:link:active {outline: none;transform: none;filter: none;}
button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color; 
}

.animate-btn:hover, .btn:hover, .btn.hover, .btn:active, .btn.active, .btn:focus, .btn.focus {
	box-shadow: 0 0 0 3px rgba(0,123,255,.25);
	transform: scale(1.05);
	outline: none;
}

.btn-secondary {
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d;
}





/* id_02 - Display and position */

.d-none {display: none;}
.d-initial {display: initial;}

.d-block {display: block;}
.d-inline {display: inline;}/* lnd */
.d-inline-block {display: inline-block;}



[class*="d-flex"] {display: flex;display: -ms-flexbox;}
[class*="d-inline-flex"] {display: inline-flex;display: -ms-inline-flexbox;}
[class*="d-flex-column"] {flex-direction: column;}

.align-items-center, .d-flex-center-center,.d-inline-flex-center-center, .d-flex-column-center {align-items: center;}
.justify-content-center, [class*="flex-center"] {justify-content: center;}
.align-items-end {align-items: flex-end;}
.flex-wrap {flex-wrap: wrap;}



.float-left {float:left}
.float-right {float:right}
.float-none {float:none}

.position-fixed {position: fixed;}
.position-absolute {position: absolute;}
.position-relative, [class*="zr"] {position: relative;}

.y-0, .top-0 {top:0;}
.y-0, .bottom-0 {bottom: 0;}
.x-0, .left {left: 0;}
.x-0, .right {right: 0;}

.z-1, .zr-1 {z-index: 500;}
.z-2, .zr-2 {z-index: 1000;}
.z-3, .zr-3 {z-index: 1500;}
.z-top, .zr-top{z-index: 99999;}



.translate-middle {top: 50%;left: 50%;transform: translate(-50%, -50%);}
.translate-middle-y {transform: translateY(-50%);}
.translate-middle-x {transform: translateX(-50%);}

.clearfix::after {
	content: "";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}





/* id_03 - Styles */

.outline-none {outline: none;}

.rounded {border-radius: 4px};
.circle {border-radius: 50%;}
.b-radius-none {border-radius: 0 !important;}
.animate {transition: all 0.25s ease-in-out}
.list-unstyled {list-style: none;padding-left: 0;}

.bg-white {background: white;}
.bg-black {background: black;}
.bg-transparent {background: transparent;}/* lnd */
.light-content {text-shadow: 3px 3px 4px black;}



.bg-none {background: none !important;}
.bg-dark {background-color: #234}
.bg-blue-dk {background-color: #384992}



.border-none {border: none}
.border-dashed {border-style: dashed}
.border-dotted {border-style: dotted}
.border {border-style: 1px solid rgba(0, 0, 0, 0.1);}
.box-shadow {box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1)}

.heading-border-bottom::after {content: "";display: block;height: 4px;background-color: rgba(0, 0, 0, .3);width: 8.5rem;margin: auto;margin-top: 2rem;}





/* id_04 - Text */

.text-white {color: white;}
.text-dark{color: #234;}
.text-lightgray {color: lightgray;}
.text-small {font-size: 12.8px;}
.text-extra-small {font-size: 10.56px;}

.text-start {text-align: left;}
.text-end {text-align: right;}
.text-center {text-align: center;}
.text-justify {text-align: justify;}/* lnd */

.text-lower {text-transform: lowercase;}/* lnd */
.text-uppercase {text-transform: uppercase;}
.text-capitalize {text-transform: capitalize;}

.text-italic {font-style: italic;}
.text-normal {font-style: normal;}

.text-underline {text-decoration: underline;}
.text-shadow {text-shadow: 3px 3px 4px black;}





@media (min-width: 576px){/* From SM */

	.text-sm-start{text-align: left;}
	.text-sm-end{text-align: right;}
	.text-sm-center{text-align: center;}
	.text-sm-justify{text-align: justify;}/* lnd */


	.d-sm-none{display: none;}
	.d-sm-initial{display: initial;}

	.d-sm-block{display: block;}
	.d-sm-inline{display: inline;}/* lnd */
	.d-sm-inline-block{display: inline-block;}

	.float-sm-none{float:none}
}
@media (min-width: 768px){/* From MD */
	.align-items-md-end{align-items: flex-end;}

	.text-md-start{text-align: left;}
	.text-md-end{text-align: right;}
	.text-md-center{text-align: center;}
	.text-md-justify{text-align: justify;}/* lnd */


	.d-md-none{display: none;}
	.d-md-initial{display: initial;}

	.d-md-block{display: block;}
	.d-md-inline{display: inline;}/* lnd */
	.d-md-inline-block{display: inline-block;}

	.float-md-none{float:none}
}
@media (min-width: 992px){/* From LG */

	.navbar{padding: 0;}/*bos*/

	.text-lg-start{text-align: left;}
	.text-lg-end{text-align: right;}
	.text-lg-center{text-align: center;}
	.text-lg-justify{text-align: justify;}/* lnd */


	.d-lg-none{display: none;}
	.d-lg-initial{display: initial;}

	.d-lg-block{display: block;}
	.d-lg-inline{display: inline;}/* lnd */
	.d-lg-inline-block{display: inline-block;}

	.float-lg-none{float:none}
}
@media (min-width: 1200px){/* From XL */
	
	html{font-size: 62.5%;}

	.text-xl-start{text-align: left;}
	.text-xl-end{text-align: right;}
	.text-xl-center{text-align: center;}
	.text-xl-justify{text-align: justify;}/* lnd */


	.d-xl-none{display: none;}
	.d-xl-initial{display: initial;}

	.d-xl-block{display: block;}
	.d-xl-inline{display: inline;}/* lnd */
	.d-xl-inline-block{display: inline-block;}

	.float-xl-none{float:none}
}