.w-h-auto, .w-auto{width: auto;}
.w-h-auto, .h-auto{height: auto;}
.w-h-100, .w-100{width: 100%;}
.w-h-100, .h-100{height: 100%;}

.h-25 {height: 25%;}
.h-50 {height: 50%;}
.h-75 {height: 75%;}

.w-25 {width: 25%;}
.w-50 {width: 50%;}
.w-75 {width: 75%;}



.m-0{margin: 0;}
.my-0, .mt-0{margin-top: 0;}
.my-0, .mb-0{margin-bottom: 0;}
.mx-0, .ml-0{margin-left: 0;}
.mx-0, .mr-0{margin-right: 0;}

.m-auto{margin: auto;}
.my-auto, .mt-auto{margin-top: auto;}
.my-auto, .mb-auto{margin-bottom: auto;}
.mx-auto, .ml-auto{margin-left: auto;}
.mx-auto, .mr-auto{margin-right: auto;}



.m-05{margin: .5rem;}
.m-10{margin: 1rem;}
.m-15{margin: 1.5rem;}
.m-20{margin: 2rem;}
.m-25{margin: 2.5rem;}
.m-30{margin: 3rem;}
.m-35{margin: 3.5rem;}
.m-40{margin: 4rem;}
.m-45{margin: 4.5rem;}
.m-50{margin: 5rem;}

.mx-05, .ml-05{margin-left: .5rem;}
.mx-10, .ml-10{margin-left: 1rem;}
.mx-15, .ml-15{margin-left: 1.5rem;}
.mx-20, .ml-20{margin-left: 2rem;}
.mx-25, .ml-25{margin-left: 2.5rem;}
.mx-30, .ml-30{margin-left: 3rem;}
.mx-35, .ml-35{margin-left: 3.5rem;}
.mx-40, .ml-40{margin-left: 4rem;}
.mx-45, .ml-45{margin-left: 4.5rem;}
.mx-50, .ml-50{margin-left: 5rem;}

.mx-05, .mr-05{margin-right: .5rem;}
.mx-10, .mr-10{margin-right: 1rem;}
.mx-15, .mr-15{margin-right: 1.5rem;}
.mx-20, .mr-20{margin-right: 2rem;}
.mx-25, .mr-25{margin-right: 2.5rem;}
.mx-30, .mr-30{margin-right: 3rem;}
.mx-35, .mr-35{margin-right: 3.5rem;}
.mx-40, .mr-40{margin-right: 4rem;}
.mx-45, .mr-45{margin-right: 4.5rem;}
.mx-50, .mr-50{margin-right: 5rem;}

.my-05, .mt-05{margin-top: .5rem;}
.my-10, .mt-10{margin-top: 1rem;}
.my-15, .mt-15{margin-top: 1.5rem;}
.my-20, .mt-20{margin-top: 2rem;}
.my-25, .mt-25{margin-top: 2.5rem;}
.my-30, .mt-30{margin-top: 3rem;}
.my-35, .mt-35{margin-top: 3.5rem;}
.my-40, .mt-40{margin-top: 4rem;}
.my-45, .mt-45{margin-top: 4.5rem;}
.my-50, .mt-50{margin-top: 5rem;}

.my-05, .mb-05{margin-bottom: .5rem;}
.my-10, .mb-10{margin-bottom: 1rem;}
.my-15, .mb-15{margin-bottom: 1.5rem;}
.my-20, .mb-20{margin-bottom: 2rem;}
.my-25, .mb-25{margin-bottom: 2.5rem;}
.my-30, .mb-30{margin-bottom: 3rem;}
.my-35, .mb-35{margin-bottom: 3.5rem;}
.my-40, .mb-40{margin-bottom: 4rem;}
.my-45, .mb-45{margin-bottom: 4.5rem;}
.my-50, .mb-50{margin-bottom: 5rem;}






.p-0{padding: 0;}
.py-0, .pt-0{padding-top: 0;}
.py-0, .pb-0{padding-bottom: 0;}
.px-0, .pl-0{padding-left: 0;}
.px-0, .pr-0{padding-right: 0;}

.p-05{padding: .5rem;}
.p-10{padding: 1rem;}
.p-15{padding: 1.5rem;}
.p-20{padding: 2rem;}
.p-25{padding: 2.5rem;}
.p-30{padding: 3rem;}
.p-35{padding: 3.5rem;}
.p-40{padding: 4rem;}
.p-45{padding: 4.5rem;}
.p-50{padding: 5rem;}

.px-05, .pl-05{padding-left: .5rem;}
.px-10, .pl-10{padding-left: 1rem;}
.px-15, .pl-15{padding-left: 1.5rem;}
.px-20, .pl-20{padding-left: 2rem;}
.px-25, .pl-25{padding-left: 2.5rem;}
.px-30, .pl-30{padding-left: 3rem;}
.px-35, .pl-35{padding-left: 3.5rem;}
.px-40, .pl-40{padding-left: 4rem;}
.px-45, .pl-45{padding-left: 4.5rem;}
.px-50, .pl-50{padding-left: 5rem;}

.px-05, .pr-05{padding-right: .5rem;}
.px-10, .pr-10{padding-right: 1rem;}
.px-15, .pr-15{padding-right: 1.5rem;}
.px-20, .pr-20{padding-right: 2rem;}
.px-25, .pr-25{padding-right: 2.5rem;}
.px-30, .pr-30{padding-right: 3rem;}
.px-35, .pr-35{padding-right: 3.5rem;}
.px-40, .pr-40{padding-right: 4rem;}
.px-45, .pr-45{padding-right: 4.5rem;}
.px-50, .pr-50{padding-right: 5rem;}

.py-05, .pt-05{padding-top: .5rem;}
.py-10, .pt-10{padding-top: 1rem;}
.py-15, .pt-15{padding-top: 1.5rem;}
.py-20, .pt-20{padding-top: 2rem;}
.py-25, .pt-25{padding-top: 2.5rem;}
.py-30, .pt-30{padding-top: 3rem;}
.py-35, .pt-35{padding-top: 3.5rem;}
.py-40, .pt-40{padding-top: 4rem;}
.py-45, .pt-45{padding-top: 4.5rem;}
.py-50, .pt-50{padding-top: 5rem;}

.py-05, .pb-05{padding-bottom: .5rem;}
.py-10, .pb-10{padding-bottom: 1rem;}
.py-15, .pb-15{padding-bottom: 1.5rem;}
.py-20, .pb-20{padding-bottom: 2rem;}
.py-25, .pb-25{padding-bottom: 2.5rem;}
.py-30, .pb-30{padding-bottom: 3rem;}
.py-35, .pb-35{padding-bottom: 3.5rem;}
.py-40, .pb-40{padding-bottom: 4rem;}
.py-45, .pb-45{padding-bottom: 4.5rem;}
.py-50, .pb-50{padding-bottom: 5rem;}



@media (min-width: 576px){
    .m-sm-0{margin: 0;}
	.my-sm-0, .mt-sm-0{margin-top: 0;}
	.my-sm-0, .mb-sm-0{margin-bottom: 0;}
	.mx-sm-0, .ml-sm-0{margin-left: 0;}
	.mx-sm-0, .mr-sm-0{margin-right: 0;}

    .m-sm-auto{margin: auto;}
	.my-sm-auto, .mt-sm-auto{margin-top: auto;}
	.my-sm-auto, .mb-sm-auto{margin-bottom: auto;}
	.mx-sm-auto, .ml-sm-auto{margin-left: auto;}
	.mx-sm-auto, .mr-sm-auto{margin-right: auto;}



	.p-sm-0{padding: 0;}
	.py-sm-0, .pt-sm-0{padding-top: 0;}
	.py-sm-0, .pb-sm-0{padding-bottom: 0;}
	.px-sm-0, .pl-sm-0{padding-left: 0;}
	.px-sm-0, .pr-sm-0{padding-right: 0;}
}

@media (min-width: 768px){
    .m-md-0{margin: 0;}
	.my-md-0, .mt-md-0{margin-top: 0;}
	.my-md-0, .mb-md-0{margin-bottom: 0;}
	.mx-md-0, .ml-md-0{margin-left: 0;}
	.mx-md-0, .mr-md-0{margin-right: 0;}

    .m-md-auto{margin: auto;}
	.my-md-auto, .mt-md-auto{margin-top: auto;}
	.my-md-auto, .mb-md-auto{margin-bottom: auto;}
	.mx-md-auto, .ml-md-auto{margin-left: auto;}
	.mx-md-auto, .mr-md-auto{margin-right: auto;}


	.p-md-0{padding: 0;}
	.py-md-0, .pt-md-0{padding-top: 0;}
	.py-md-0, .pb-md-0{padding-bottom: 0;}
	.px-md-0, .pl-md-0{padding-left: 0;}
	.px-md-0, .pr-md-0{padding-right: 0;}
}
@media (min-width: 992px){
    .m-lg-0{margin: 0;}
	.my-lg-0, .mt-lg-0{margin-top: 0;}
	.my-lg-0, .mb-lg-0{margin-bottom: 0;}
	.mx-lg-0, .ml-lg-0{margin-left: 0;}
	.mx-lg-0, .mr-lg-0{margin-right: 0;}

    .m-lg-auto{margin: auto;}
	.my-lg-auto, .mt-lg-auto{margin-top: auto;}
	.my-lg-auto, .mb-lg-auto{margin-bottom: auto;}
	.mx-lg-auto, .ml-lg-auto{margin-left: auto;}
	.mx-lg-auto, .mr-lg-auto{margin-right: auto;}


	.p-lg-0{padding: 0;}
	.py-lg-0, .pt-lg-0{padding-top: 0;}
	.py-lg-0, .pb-lg-0{padding-bottom: 0;}
	.px-lg-0, .pl-lg-0{padding-left: 0;}
	.px-lg-0, .pr-lg-0{padding-right: 0;}
}
@media (min-width: 1200px){
    .m-xl-0{margin: 0;}
	.my-xl-0, .mt-xl-0{margin-top: 0;}
	.my-xl-0, .mb-xl-0{margin-bottom: 0;}
	.mx-xl-0, .ml-xl-0{margin-left: 0;}
	.mx-xl-0, .mr-xl-0{margin-right: 0;}

    .m-xl-auto{margin: auto;}
	.my-xl-auto, .mt-xl-auto{margin-top: auto;}
	.my-xl-auto, .mb-xl-auto{margin-bottom: auto;}
	.mx-xl-auto, .ml-xl-auto{margin-left: auto;}
	.mx-xl-auto, .mr-xl-auto{margin-right: auto;}


	.p-xl-0{padding: 0;}
	.py-xl-0, .pt-xl-0{padding-top: 0;}
	.py-xl-0, .pb-xl-0{padding-bottom: 0;}
	.px-xl-0, .pl-xl-0{padding-left: 0;}
	.px-xl-0, .pr-xl-0{padding-right: 0;}
}